.my-label{
    -fx-font-size: 17px;
}

.my-btn{
    -fx-background-color: rgb(30, 164, 253);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 16px;
    -fx-padding: 7px 15px;
    -fx-border-radius: 3px;
    -fx-cursor: pointer;
}